* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #E68B03 100%, #9B05DB 200%);
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    border: 0;
    outline: 0;
}
.container {
    margin: 40px 0;
    width: 400px;
    height: 600px;
    padding: 10px 25px;
    background: #07D1A9;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}
h2.title {
        font-size: 24pt;
        margin: 10px -5px;
        margin-bottom: 30px;
        color: #fff;
    }
.result {
    position: relative;
    width: 100%;
    height: 65px;
    overflow: hidden;
}





.viewbox {
        width: 100%;
        height: 100%;
        background: #E68B03;
        border-radius: 8px;
        color: #fff;
        text-align: center;
        line-height: 65px;
    }
    #copy-btn {
        position: absolute;
        top: var(--y);
        left: var(--x);
        width: 38px;
        height: 38px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        z-index: 2;
    }
.range__slider {
    position: relative;
    width: 100%;
    height: 55px;
display: flex;
justify-content: center;
align-items: center;
background: #E68B03;
border-radius: 8px;
margin: 30px 0;
}

#slider {
    -webkit-appearance: none;
    width: 70px;
    height: 2px;
    border-radius: 5px;
    background: blue;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.settings {
    position: relative;
    height: auto;
    widows: 100%;
    display: flex;
    flex-direction: column;
}
.setting {
    position: relative;
    width: 100%;
    height: 55px;
    background: #E68B03;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #fff;
    margin-bottom: 8px;
}
.btn.generate {
    user-select: none;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 8px;
    color: #07D1A9;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 150ms ease;

}
.btn.generate:hover,
.btn.generate:active {
        transform: translateY(-3%);
        box-shadow: 0 4px 8px #9B05DB;

    }